main {
            padding-bottom: 0px;
            padding-top: 70px;
            background-color: #ffffff;
        }
        
        .widget-wrapper {
            padding-bottom: 1rem;
            border-bottom: 1px solid #e0e0e0;
            margin-bottom: 1rem;
        }
        
        .navbar {
            background-color: #53463d;
        }
        
        footer.page-footer {
            background-color: #53463d;
            margin-top: 2rem;
         
        }/* YOUR CUSTOM STYLES */
.list-group-item.active {
    background-color: #33b5e5;
    border-color:#33b5e5
}
.sidenav
{ padding-top: 70px;
}
.list-group-item:not(.active) {
    color:#222;
}

.list-group-item:not(.active):hover {
    color:#666;
}
.cardupdate{
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}
.h2update {
    margin-bottom: 0px !important;
}
.col-lg-2uphe{
    padding-right: 0px !important; 
    padding-left: 0px !important;
}
.col-lg-8uphe{
    padding-right: 1% !important; 
    padding-left: 1% !important;
}
.containerhd{
    padding-right: 0px !important;
    padding-left: 0px !important;
    
}
.cardup {
    padding-bottom: 5px !important;
    padding-top: 5px !important;
}
.logo{
    padding-bottom: 5px !important;
    padding-top: 5px !important;
}
.h1logo{
    font-size: 1rem !important;
}
.buttonse{
    margin-top:7px !important;
}
.h5slider{
    margin-bottom: 0px !important; 
}
.imgslider{
    padding-bottom: 5px !important;
}
.catmodules{
    padding-bottom:2px !important;
    padding-top:2px !important;
}
.caption {
          position:absolute;
          top:82%;
          right:0;
          background:rgba(0, 0, 0, 0.75);
          width:100%;
          height:20%;
          padding:2%;
          display: none;
          text-align: left;
          color:#fff !important;
          z-index:2;
      }